---
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"  
import Info from "../components/Info.astro"
---

<Layout>
  <Hero />
  <main class="container">
  </main>
  <Info />
</Layout>