---
import { client } from '../lib/sanity';

const { faqs } = await client.fetch(`
  *[_type == "homePage"][0]{
    "faqs": sections[_type == "faqSection"][0].faqs
  }
`);
---

<section class="faq-section container">
    <h2 class="heading-xs">(Veelgestelde vragen)</h2>
    
    <div class="faq-list">
      {faqs?.map((faq: any) => (
        <details class="faq-item">
            <summary class="faq-question heading-m">
                {faq.question}
                <span class="faq-icon heading-l" aria-hidden="true">+</span>
            </summary>

            <div class="faq-answer">
                <p class="heading-xs">{faq.answer}</p>
            </div>
        </details>
      ))}
    </div>
</section>

<style>
    h2{
        color: var(--color-primary);
        margin-bottom: var(--space-12);
    }
    
    .faq-list {
        display: flex;
        flex-direction: column;
    }

    .faq-item {
        border-top: 1px solid var(--color-gray-100);
    }

    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        user-select: none;
        color: var(--color-primary);
        padding: var(--space-6) var(--space-0);
    }

    .faq-question::-webkit-details-marker {
        display: none;
    }

    .faq-icon {
        transition: transform 0.4s ease;
        flex-shrink: 0;
        margin-left: var(--space-6);
        color: var(--color-primary);
        font-weight: var(--font-weight-regular);
    }

    .faq-item[open] .faq-icon {
        transform: rotate(135deg);
    }

    .faq-answer p {
        color: var(--color-primary);
        padding-bottom: var(--space-6);
        font-weight: var(--font-weight-medium);
        text-wrap: balance;
    }

    @media (min-width: 768px) {
        .faq-answer p {
            max-width: 60ch;
        }
    }
</style>