---
import { client } from '../lib/sanity'

const { hero } = await client.fetch(`
  *[_type == "homePage"][0]{
    "hero": sections[_type == "heroSection"][0]{
      logoText,
      tagline,
      scrollText
    }
  }
`
)
---

<section class="hero-section">
    <p class="tagline-text heading-m">{hero?.tagline}</p>
    <a href="#" class="scroll-text">{hero?.scrollText}</a>
    <h1 class="logo display">{hero?.logoText}</h1>
</section>
