---
import { client } from '../lib/sanity'
import ProjectCard from './ProjectCard.astro'

const { projects } = await client.fetch(`
  *[_type == "homePage"][0]{
    "projects": sections[_type == "projectSection"][0].projects
  }
`)
---

<section class="project-wrapper container">
  <section class="project-header">
    <p class="section-label heading-xs">(Projecten)</p>
    <p class="section-description heading-xs">Een selectie van onze nieuwste projecten</p>
  </section>

  <section class="project-section">
    {projects?.map((project: any) => (
      <ProjectCard project={project} />
    ))}
  </section>
</section>

<style>
.project-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-bottom: var(--space-8);
}

p{
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.project-wrapper {
  padding: var(--space-8);
  margin-top: var(--space-24);
}

.section-description {
  color: var(--color-primary);
  max-width: 13rem;
  width: max-content;
  display: none;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-8);
}

@media (min-width: 768px) {
  .project-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-label {
  align-self: flex-end;
  }
  .project-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .section-description {
    display: block;
  }
}

@media (min-width: 1024px) {
  .project-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>